@model List<SliderDto>
<div class="swiper-slide">
    <div class="container">
        <div class="row d-flex align-items-center">
            @foreach(var slider in Model)
            {
                <div class="col-md-6">
                    <div class="banner-content">
                        <h1 class="display-2 text-uppercase text-dark pb-5">@slider.Text</h1>
                        <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="image-holder">
                        <img src="@slider.ImageUrl" alt="banner">
                    </div>
                </div>
                
            }
            
        </div>
    </div>
</div>